<mat-card class="login-card">
  <mat-card-title> Login </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label> Login </mat-label>
        <input matInput [(ngModel)]="name" type="text" name="login" placeholder="login">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label> Password </mat-label>
        <input matInput  [(ngModel)]="password" type="password" name="password" placeholder="password" >
      </mat-form-field>
        <div class="button">
          <button type="submit" mat-raised-button>Login</button>
        </div>
    </form>
  </mat-card-content>
</mat-card>
