<mat-toolbar>
  <mat-toolbar-row>
    <span>Embit</span>
    <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/test" routerLinkActive="active">Test</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet> </router-outlet>
