<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
                       [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                       [mode]="(isHandset$ | async) ? 'over' : 'side'"
                       [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/feed">Fil d'actualité</a>
      <a mat-list-item routerLink="/test">Films</a>
      <a mat-list-item href="#">Series</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Embit</span>
      <span class="fill-space"></span>
      <span >
        <button mat-raised-button class="register-button" (click)="openDialog()" > Register </button>
      </span>
    </mat-toolbar>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
