<div mat-dialog-content>
  <form>
    <mat-form-field class="example-full-width">
      <mat-label> Login </mat-label>
      <input matInput [(ngModel)]="login" type="text" name="login" placeholder="login">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> Password </mat-label>
      <input matInput  [(ngModel)]="password" type="password" name="password" placeholder="password" >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.password" cdkFocusInitial>Ok</button>
</div>
